data train_data = load csv "data.csv"

LSM l {
    size 64
    spike() {
        if mem_potential > threshold {
            emit spike
            mem_potential = 0
        }
    }
}

layer l1 { -- spiking neural network
    size 5
}

readout answers {
    type regression
}

layer torch custom_layer {
    type custom torch
}

connect l1 -> l weight 0.5
connect l -> answers

simulate with train_data through l1 {
    steps 100
    encoding rate
    encode_steps 32
    batch 8
}

save l
